server:
  port: 8761

spring:
  application:
    name: eurekaservice

eureka:
  instance:
    hostname: ${HOST}
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: env